.addalgpage {
  padding: 50px 7%;
  background-color: #101316;
  color: #fff;

  .form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 200px;

    .formelement {
      label {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        display: block;
      }
    }
    .chechboxes {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .lanform {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    background: #2c2f34;
    padding: 20px;
    border-radius: 10px;
  }
}
